#webTitle{
  color: black;
  text-decoration: none;
}
.contents{
  color: blue;
  list-style-type: none;
}

#contentTableHolder, #contentHolder{
  display: inline-block;
}
#contentTableHolder{
  float: left;
  width: 15%;
  height: inherit;
  border: 1px solid powderblue;
  padding: 20px;
}
#contentHolder{
  float: left;
  width: 78%;
  height: inherit;
  border: 1px solid powderblue;
  padding: 20px

}
h1, h2, h3, #title{
  text-align: center;
}
.section{
    color: brown;
}
