#webTitle{
  color: black;
  text-decoration: none;
}
.contents{
  color: blue;
  list-style-type: none;
}

#contentTableHolder, #contentHolder{
  height: 300px;

}

#contentTableHolder{
  width: 200px;
  height: inherit;
  border: 1px solid powderblue;
  float: left;
  padding: 20px
}
#contentHolder{
  width: 963px;
  height: inherit;
  border: 1px solid powderblue;
  float:right;
  padding: 20px

}
h1, h2, h3, #title{
  text-align: center;
}
.section{
    color: brown;
}
